body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    font-size: 2.5rem;
    padding: 1rem;
    background-color: #4F58DF;
    color: #FFFFFF;
    font-weight: bolder;
    font-transform: uppercase;
    text-align: center;
}

.main{
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.board{
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 1000px;
    margin: 0 auto;
}

.space{
    height: 2rem;
    width: 2rem;
    border: 1pm solid #ccc;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-sizing: border-box;
    cursor: pointer;
}

.space.vacant{
    background-color: #aaa;
}

.space.black{
    background-color: #000;
}

.space.white{
    background-color: #fff;
}

.space.vacant:hover{
    background-color: blue;
    opacity: 0.5;
}
